body{
    font-family:Arial,sans-serif;
    background-color: #ffd700;
    color: #4CAF50;

}
.hidden{
    display:none;
}
#page1,#page2 {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
img{
    width: 300px;
    height: auto;
}